body, ul, li, p, h1, h2 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "IRANSansWeb_Bold";
    src: url("../fonts/IRANSansWeb_Bold.ttf") format("truetype")
}

@font-face {
    font-family: "IRANSansWeb_Medium";
    src: url("../fonts/IRANSansWeb_Medium.ttf") format("truetype")
}

li {
    list-style: none;
}

body {
    font-family: IRANSansWeb_Medium, serif;
}
div.boxItem{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
}